:root {
    --background-color: #f0eef1;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

#addBook {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    transition: all 0.7s ease-in-out;
    width: max-content;
    margin-right: 10px;
}

#addBook:hover {
    background-color: rgb(167, 166, 166);
}


button,
input,
select,
textarea,
label {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    gap: 15px;
    background-color: rgb(247, 240, 240);
}

form button,
input[type="reset"] {
    padding: 15px 30px;
}



.close {
    font-size: 28px;
    color: #aaaaaa;
    align-self: end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.books_container {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.book {
    background-color: rgb(52, 166, 211);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.readBTN {
    background-color: rgb(241, 24, 24);
}

.readBTN, .deleteBTN {
    padding: 15px 30px;
}

.green {
    background-color: rgb(53, 231, 53);
}

